<!-- <span>Fatih Kral Merhaba...</span> -->

<div class="container">

    <!-- <span>Merhaba {{fullName}}</span> -->
    <app-country-table [countryList]="COUNTRIES"
        (selectCountryEvent)="onSelectCountryEvent($event)"></app-country-table>
    <br />
    <app-country-adder [countrySelection]="selectedCountry"
        (newCountryEvent)="addCountryOutputEvent($event)"></app-country-adder>
    <!-- <app-country-table [countryList]="getCountry()"></app-country-table> -->

    <!-- <app-ng-bootstrap-accordion></app-ng-bootstrap-accordion>
    <app-ng-bootstrap-accordion></app-ng-bootstrap-accordion>
    <app-ng-bootstrap-accordion></app-ng-bootstrap-accordion> -->

    <!-- <button class="btn btn-primary" (click)="addCountry($event)">Add Country</button> -->
</div>