<!-- <span>Fatih Kral Merhaba...</span> -->

<div class="container">

    <!-- <span>Merhaba {{fullName}}</span> -->
    <app-country-adder (newCountryEvent)="addCountryOutputEvent($event)"></app-country-adder>
    <br />
    <app-country-table [countryList]="COUNTRIES"></app-country-table>
    <!-- <app-country-table [countryList]="getCountry()"></app-country-table> -->

    <!-- <app-ng-bootstrap-accordion></app-ng-bootstrap-accordion>
    <app-ng-bootstrap-accordion></app-ng-bootstrap-accordion>
    <app-ng-bootstrap-accordion></app-ng-bootstrap-accordion> -->

    <button class="btn btn-primary" (click)="addCountry($event)">Add Country</button>
</div>